body {
  font-family: Roboto, sans-serif;
}

#header {
  position: fixed;
  width: 100%;
  left: 0px;
  background: white;
  display: flex;
  height: 4.5vw;
  top: 0vw; 
  box-shadow: 0 5px 11px 0 rgb(29 0 62 / 7%);
  align-items: center;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  color: #7f88a0;
  z-index: 999;
}

#background{
  overflow: hidden;
  height: 46vw;
  background: #5022ed;
  position: fixed;
  width: 102vw;
  top: -110px;
  right: -15vw;
  border-radius: 53px;
  transform: rotate(-4deg);
  z-index: -100;
}

#converter-card{
  position: relative;
  width: 320px;
  height: 378px;
  border-radius: 20px;
  z-index: 1;
  bottom: 5vw;         
  left: 64vw;
}

#converter-card__form{
  padding-right: 15px;
  padding-left: 20px;
}

#h1box {
  position: relative;
  z-index: 100;
  inline-size: 50vw;
  max-width: 45%;
  overflow-wrap: break-word;
  bottom: -8vw;         
  left: 20vw;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
}

#box-for-text{
  position: absolute;
  width: 615px;
  height: 188px;
  left: 20.5vw;
  top: 330px;
  min-width: 30%;
  max-width: 30%;
}

#box-for-link{
  position: absolute;
  left: 20.5vw;
  top: 520px;
}

a{
  text-decoration: none;
  color: #16DFB5;
  font-size: 14px;
}

h1 {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.1em;
}

h1 b {
  color: #16dfb5;
}

#buy-button {
  font-family: Roboto;
  display: inline-block;
  width: 280px;
  height: 35px;
  left: 2px;
  top: 38px;
  text-align: center;
  line-height: 50px;
  position: relative;
  border: 0;
  outline: 0;
  transition: box-shadow .2s ease;
  font-size: 1em;
  font-weight: 500;
  background: #16DFB5;
  border-radius: 4px 50px 50px 50px;
  color: white;
  padding: 0px; 
  line-height: 8px;
  text-transform: none;
}

#buy-button:disabled{
  background-color: gray;
}

.input-row{
  padding-left: 10px;
  margin-bottom: 25px;
  width: 280px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 20px;
}

#input-fields{
  margin-top: 80px;
  left: 2px;
}

.inputNumber{
  width: 140px;
}

#payment-select{
  font-family: Roboto, sans-serif;
  width: 280px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9 !important;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px; 
  text-align: center;
}

#payment-label{
  display: block;
  padding-bottom: 35px;
  font-size: 12px;
}

.input-label{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85)
}

.currency-icon{
  position: absolute;
  width: 22px;
}

.payment-method-icon{
  position: absolute;
  left: 10px;
  width: 40px;
  height: 25px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 6px;
}

.logo-icon{
  position: relative;
  width: 125px;
  height: 26px;
  left: -22px;
}

.currency-select{
  display: inline;
  left: 10px;
  height: 33px;
  width: 100px;
  text-align: right;
}

#decoration-card{
  position: fixed;
  background: #E9F6FF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 20px;
  transform: rotate(-5.53deg);
  width: 320px;
  height: 380px;
  left: 62%;
  top: 15%;
}

#cards-together{
  position: absolute;
}


@media only screen and (max-width: 600px) {

  body{
    overflow: scroll;
  }
  #background{
    position: fixed;
    overflow-y: scroll;
    max-width: 600px;
    overflow-x: hidden;
    height: 105%;
    left: -100px;
    width: 135%;
  }

  #converter-card{
    position: absolute;
    top: 58vw;         
    left: 8vw;
    z-index: 1000;
  }

  #h1box {
    position: absolute;
    z-index: 100;
    top: 18vw;         
    left: 8vw;
    inline-size: 100vw;
    max-width: 905%;
  }

  h1{
    font-size: 29px;
    line-height: 31px;
  }

  #box-for-text{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 8vw;
    top: 620px;
    max-width: 80%;
  }

  p{
    font-size: 15px;
    line-height: 23px;
  }

  #box-for-link{
   display: none;
  }

  #header {
    position: fixed;
    height: 50px;   
  }
  
  #input-fields{
    margin-top: 22px;
    left: 2px;
  }

  #buy-button {
    top: 92px;
  }

  #main{
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #decoration-card{
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  #background{
    height: 115%;
  }
}
